<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <h1>Oops some error occurred!!!</h1>
        <p>Error code: 404 page not found.</p>
    </body>
</html>
